/* Old-style URL bar ported from main branch */
@media not (-moz-pref("neo-theme-disabled")) {
  @media not (-moz-pref("neo-theme-urlbar-disabled")) {
    /* === Input === */
    #urlbar {
      .urlbar-background {
        background: var(--Neo-Color-Hover) !important;
        border-radius: 20px !important;
        border: 2px solid color-mix(in srgb, var(--zen-primary-color) 40%, transparent) !important;
        box-shadow: 0 0px 6px transparent !important;
        filter: drop-shadow(0px 0px 8px transparent);
        backdrop-filter: var(--Neo-Blur) !important;

        transition: background 0.5s ease,
          border 0.5s ease,
          color 0.5s ease,
          box-shadow 0.5s ease,
          filter 0.5s ease !important;
      }
    }

    #urlbar-container {
      background: none !important;
    }

    #urlbar-input {
      text-align: center !important;
    }

    /* === Floating === */
    #identity-icon-box {
      display: none !important;
    }

    #urlbar[open=""] {
      .urlbar-input-container {
        height: var(--Neo-Zen-URL-Height) !important;
      }

      & .urlbar-background {
        background: var(--Neo-Blur-Color) !important;
        border-radius: 22px !important;
      }
    }

    #urlbar[open=""],
    #urlbar-container:hover {
      & .urlbar-background {
        box-shadow: 0px 0px 10px #000000 !important;
        border: none !important;
        outline: none !important;

        @media not (-moz-pref("neo-theme-urlbar-glow-border-disabled")) {
          @media not (-moz-pref("neo-theme-urlbar-glow-disabled")) {
            box-shadow: 0 0px 6px color-mix(in srgb, var(--zen-primary-color) 80%, transparent) !important;
            filter: var(--Neo-Glow-Filter-3);
          }
        }

        @media not (-moz-pref("neo-theme-urlbar-border-disabled")) {
          border: 2px solid color-mix(in srgb, var(--zen-primary-color) 80%, transparent) !important;
        }
      }
    }

    .urlbarView-body-inner {
      #urlbar[open]>.urlbarView>.urlbarView-body-outer>& {
        border-top: 0px solid transparent !important;
      }
    }

    /* === Rows === */
    #urlbar[open] {
      #urlbar-results,
      #urlbarView {
        margin: 0px 0px !important;
      }

      & .urlbarView-row {
        margin: calc(var(--Neo-Rows-Margin)) !important;
        height: var(--Neo-Rows-Height) !important;
        max-height: var(--Neo-Rows-Height) !important;
      }

      .urlbarView-row {
        box-shadow: 0 0px 0px color-mix(in srgb, var(--zen-primary-color) 0%, transparent);
        border: 1px solid color-mix(in srgb, var(--zen-primary-color) 0%, transparent) !important;
        border-radius: 22px !important;
        filter: drop-shadow(0px 0px 4px transparent);

        transition: background-color 0.5s ease, border 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease, filter 0.5s ease;

        &[selected],
        &:hover {
          background-color: color-mix(in srgb, var(--zen-primary-color) 50%, transparent 100%) !important;
          box-shadow: 0 0px 4px color-mix(in srgb, var(--zen-primary-color) 80%, transparent);
          filter: var(--Neo-Glow-Filter-1);
          border: 1px solid color-mix(in srgb, var(--zen-primary-color) 80%, transparent) !important;
        }
      }

      & .urlbarView-action {
        text-align: center !important;
        text-justify: center !important;
        justify-content: right !important;
        margin-right: 1px !important;
      }

      & .urlbarView-row[has-action]:is([type="switchtab"], [type="remotetab"], [type="clipboard"]) {
        &:is([type="switchtab"], [type="remotetab"]) .urlbarView-action {
          &::after {
            display: flex !important;
            position: relative !important;
            mask-image: none !important;
            width: 4px !important;
            height: 25px !important;
            background-color: var(--Neo-Glow-3) !important;
            box-shadow: 0px 0px 4px var(--Neo-Glow-3) !important;
            margin: 0px 0px !important;
            left: auto !important;
            right: 5px !important;
          }
        }
      }
    }
  }
}

/* Limit the width of the url bar when it's not open */
:root:not([zen-single-toolbar="true"]) {
  #urlbar-container:has(#urlbar:not([open])) {
    display: flex !important;
    justify-content: center !important;

    & #urlbar:not([open]) {
      max-width: 70% !important;
    }
  }
}

/* === Context identity === */
#urlbar {
    & #page-action-buttons {
        & #userContext-icons {
            filter: drop-shadow(0px 0px 5px var(--identity-icon-color)) brightness(1.1) !important;

            & #userContext-indicator {
                align-self: center !important;
                margin-left: 6px !important;
                width: 6px !important;
                height: 16px !important;
                background-image: unset !important;
                background-color: var(--identity-icon-color) !important;
                border-radius: 5px !important;
                box-shadow: 0px 0px 7px var(--identity-icon-color) !important;
            }

            & #userContext-label {
                display: flex !important;
                text-align: center !important;
                text-justify: center !important;
                padding-bottom: 1px !important;
                min-width: 0px !important;
                width: 0px !important;
                max-width: 0px !important;
                transition: width 0.4s ease, min-width 0.4s ease, max-width 0.4s ease !important;
            }

            &:hover {
                & #userContext-label {
                    filter: drop-shadow(0px 0px 10px var(--identity-icon-color)) brightness(1) !important;
                    min-width: 60px !important;
                    width: 60px !important;
                    max-width: 60px !important;
                }
            }
        }
    }
}
