@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-hide-workspace-indicator")) {
        @media not (-moz-pref("neo-theme-workspace-indicator-disabled")) {

            zen-workspace {
                & .zen-current-workspace-indicator {}
            }

            :root {
                &[zen-sidebar-expanded="true"] zen-workspace {
                    & .zen-current-workspace-indicator {
                        justify-content: center;
                        filter: drop-shadow(0px 0px 15px var(--zen-primary-color)) brightness(1.0) !important;
                        margin-bottom: 10px !important;


                        & .zen-current-workspace-indicator-name {
                            display: flex !important;
                            position: relative !important;
                            text-align: center !important;
                            justify-content: center !important;
                            margin-left: auto !important;
                            margin-right: 50px !important;
                            width: 100% !important;

                            opacity: 1 !important;
                            font-weight: 500 !important;
                            font-size: 14px !important;



                            filter: drop-shadow(0px 0px 8px var(--Neo-Glow-Color-1)) brightness(1.0) !important;
                        }

                        & .zen-current-workspace-indicator-stack {
                            display: flex !important;
                            flex-direction: row !important;

                            min-width: 34px !important;
                        }

                        & .zen-current-workspace-indicator-stack>* {
                            flex: 1 1 auto;
                        }
                        /*NeoZen: Fix for the workspace indicator not being centered and also the emoji selector was not being displayed
                         * when trying to change the icon of the workspace indicator, instead of using display: none, I used opacity: 0 to hide it
                         * when there is no icon, to keep the spacing between elements the icon is always diplayed using display: flex*/
                        .zen-current-workspace-indicator-icon:not(#PanelUI-zen-emojis-picker) {
                            display: flex !important;
                            position: relative !important;
                            margin-left: 8px !important;
                        }

                        .zen-current-workspace-indicator-icon[no-icon="true"] {
                            opacity: 0 !important;
                        }

                        & .zen-workspaces-actions {
                            display: none !important;
                        }

                        & #tab-label-input {
                            position: relative !important;
                            text-align: center !important;
                            text-justify: center !important;
                            margin: auto !important;
                            width: 100% !important;
                            padding-right: 60px !important;
                            padding-left: 0px !important;


                        }

                        & .zen-current-workspace-indicator-stack {
                            visibility: visible !important;
                            opacity: 1.0 !important;
                            display: flex !important;
                            position: relative !important;
                            margin: 0px !important;

                            & .zen-current-workspace-indicator-chevron {
                                position: relative !important;
                                display: flex !important;
                                opacity: 1.0 !important;
                            }
                        }

                        &::before {
                            background: var(--Neo-Glow-Color-3) !important;
                            box-shadow: 0px 0px 8px var(--Neo-Glow-Color-3) !important;
                            filter: drop-shadow(0px 0px 10px var(--zen-primary-color)) brightness(1.0) !important;

                            position: absolute !important;
                            border-radius: 20px !important;
                            align-self: center !important;

                            left: auto !important;
                            right: auto !important;
                            height: 3px !important;
                            top: auto !important;
                            bottom: 2% !important;
                            width: 0% !important;
                        }
                    }

                }

                &:not([animating-background="true"]) zen-workspace {
                    &[active] {
                        & .zen-current-workspace-indicator {
                            &::before {
                                width: 45% !important;
                                transition: width 0.6s ease, opacity 0.5s ease !important;
                            }

                            &:hover {
                                &::before {
                                    width: 80% !important;
                                    transition: width 0.3s ease !important;
                                }
                            }
                        }
                    }
                }

                &:not([zen-sidebar-expanded="true"]) zen-workspace {
                    & .zen-current-workspace-indicator {
                        filter: drop-shadow(0px 0px 5px var(--zen-primary-color)) brightness(1.0) !important;

                        & .zen-current-workspace-indicator-icon {
                            color: var(--zen-primary-color) !important;
                            filter: drop-shadow(0px 0px 3px var(--zen-primary-color)) !important;
                        }

                        &::before {
                            content: "" !important;
                            background: transparent !important;
                            border: 2px solid var(--Neo-Glow-Color-3) !important;
                            box-shadow: 0px 0px 6px var(--Neo-Glow-Color-3), inset 0px 0px 6px var(--Neo-Glow-Color-3) !important;
                            filter: drop-shadow(0px 0px 4px var(--zen-primary-color)) !important;
                            position: absolute !important;
                            border-radius: 50% !important;
                            width: 28px !important;
                            height: 28px !important;
                            top: 50% !important;
                            left: 50% !important;
                            transform: translate(-50%, -50%) !important;
                        }
                    }
                }
            }
        }
    }
}