@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-bottom-disabled")) {
        @media not (-moz-bool-pref: "neo-features-workspace-button-hidden") {
            :root:not([customizing=""]):not([zen-creating-workspace="true"]) {
                #zen-sidebar-foot-buttons:not(:has(#zen-workspaces-button> .subviewbutton:only-child)):not(:has(#zen-workspaces-button:only-child)) {
                    &::after {
                        display: flex;
                        content: "";
                        visibility: visible;
                        opacity: 1;
                        justify-self: center;
                        background-color: var(--Neo-Glow-Color-3);

                        box-shadow: 0px 0px 3px var(--Neo-Glow-Color-3);
                        filter: drop-shadow(0px 0px 5px var(--zen-primary-color)) brightness(1);

                        transition: width 0.3s 300ms ease,
                                    height 0.2s 300ms ease,
                                    top 0.3s ease 200ms,
                                    bottom 0.3s ease 200ms,
                                    opacity 1s ease 200ms,
                                    background-color 0.5s ease,
                                    box-shadow 0.5s ease !important;
                    }
                }

                &[zen-sidebar-expanded="true"] {
                    @media not (-moz-bool-pref: "neo-features-footer-keep-max-height-enabled") {

                        #zen-sidebar-foot-buttons {
                            &::after {
                                position: sticky;
                                z-index: 9999;

                                flex-shrink: 0 !important;
                                grid-column: 1 / -1 !important;
                                grid-row: 2 !important;

                                width: 50%;
                                height: var(--Neo-Footer-Indicator-Height);
                                border-radius: 3px;

                                top: calc(var(--Neo-Footer-Height) - 14px);
                            }
                        }
                    }
                }

                &:not([zen-sidebar-expanded="true"]) {
                    #zen-sidebar-foot-buttons {
                        &::after {
                            position: absolute;
                            width: var(--Neo-Footer-Indicator-Height);
                            height: var(--Neo-Footer-Indicator-Height);
                            border-radius: 3px;

                            @media (-moz-bool-pref: "neo-footer-at-bottom") {
                                bottom: var(--Neo-Footer-Indicator-Position);
                            }

                            @media not (-moz-bool-pref: "neo-footer-at-bottom") {
                                top: var(--Neo-Footer-Indicator-Position);
                            }
                        }
                    }
                }
            }
        }
    }
}