@media (-moz-pref("zen.workspaces.hide-default-container-indicator")) {
    @media not (-moz-pref("neo-theme-disabled")) {
        @media not (-moz-pref("neo-theme-tabs-containers-disabled")) {

            :root {
                --context-line-width: 20px;
                --context-line-time: 0.5s;
                --context-line-width-hover: 40%;

                &:not([zen-sidebar-expanded]) {

                    --context-line-width: 6px;
                    --context-line-time: 0.2s;
                    --context-line-width-hover: 30%;

                    .tabbrowser-tab[usercontextid] {
                        &:not([zen-essential="true"]) .tab-background {

                            justify-content: center !important;

                            & .tab-context-line {
                                left: auto !important;
                            }
                        }
                    }
                }
            }

            /* Tab gradient background color container */
            .tabbrowser-tab:not([zen-essential]) .tab-background::after {
                z-index: -1 !important;
                content: "";
                top: 0;
                left: 0;
                background-size: 100% 100% !important;
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0.0;
                background: radial-gradient(color-mix(in srgb, var(--identity-tab-color) 40%, white) 20%, color-mix(in srgb, var(--identity-tab-color) 70%, white) 100%) !important;
                transition: opacity 0.5s ease;
            }

            .tabbrowser-tab[usercontextid] {
                .tab-background {
                    display: flex;
                    align-content: center !important;

                    & .tab-context-line {
                        display: flex !important;
                        border-radius: 10px !important;
                        background: color-mix(in srgb, var(--identity-tab-color) 50%, white) !important;
                        box-shadow: 0 0px 3px color-mix(in srgb, var(--identity-tab-color) 60%, white) !important;

                        position: absolute !important;
                        width: var(--context-line-width) !important;
                        height: 3px !important;
                        z-index: 9 !important;

                        top: auto !important;
                        bottom: 4px !important;

                        transition: width var(--context-line-time) ease !important;
                    }
                }

                &:not([zen-essential="true"]) .tab-background {

                    justify-content: start !important;

                    & .tab-context-line {
                        left: 6px !important;
                    }
                }

                &[zen-essential="true"] .tab-background {
                    justify-content: center !important;
                }
            }

            :root:not([animating-background="true"]) {
                .tabbrowser-tab[usercontextid] {
                    &:hover[usercontextid]:not([selected]) {
                        .tab-context-line {
                            width: calc(var(--context-line-width-hover)) !important;
                        }
                    }

                    &[selected][usercontextid] {
                        .tab-context-line {
                            width: calc(var(--context-line-width-hover) + 20%) !important;
                        }
                    }

                    &:hover[usercontextid][selected] {
                        .tab-context-line {
                            width: calc(var(--context-line-width-hover) + 40%) !important;
                        }
                    }
                }
            }

            /* Tab gradient color container transition */
            .tabbrowser-tab[usercontextid]:not([selected]):not([zen-essential="true"]) .tab-background::after {
                opacity: 0.0;
                transition: opacity 0.9s ease;
            }

            .tabbrowser-tab[usercontextid][selected]:not([zen-essential="true"]) .tab-background::after {
                opacity: 0.25;
                background: radial-gradient(color-mix(in srgb, var(--identity-tab-color) 40%, white) 20%, color-mix(in srgb, var(--identity-tab-color) 70%, white) 100%) !important;
                transition: opacity 0.9s ease;
            }
        }
    }
}