@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-tabs-disabled")) {
        @media not (-moz-pref("neo-theme-tabs-normals-disabled")) {
            .tabbrowser-tab {
                --tab-color: var(--Neo-Glow-Color-3) !important;
                --tab-hover-color: var(--Neo-Glow-Color-1) !important;
                &[usercontextid] {
                    --tab-color: color-mix(in srgb, var(--identity-tab-color) 40%, white) !important;
                    --tab-hover-color: color-mix(in srgb, var(--identity-tab-color) 60%, white) !important;
                }
                --tab-background: color-mix(in srgb, var(--Neo-Background) 60%, transparent 40%) !important;
                --tab-hover-background: color-mix(in srgb, var(--Neo-Background) 80%, transparent 40%) !important;
                padding: 2px !important;

                &[zen-essential] {
                    .tab-background {
                        background: var(--tab-background) !important;
                        box-shadow: 0 0px 4px color-mix(in srgb, black 100%, transparent 10%) !important;
                    }

                    &:hover .tab-background {
                        background: color-mix(in srgb, var(--Neo-Background) 60%, transparent 50%) !important;
                        box-shadow: 0px 0px 5px var(--Neo-Glow-Color-3) !important;
                    }

                    &[visuallyselected] .tab-background {
                        
                        box-shadow: 0px 0px 6px color-mix(in srgb, white 20%, transparent) !important;
                        
                        &::before {
                            border-radius: var(--Roundness) !important;
                            background-color: var(--tab-background) !important;
                            
                            box-shadow: 0px 0px 10px color-mix(in srgb, white 30%, transparent) !important;
                            transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
                        }
                    }
                }

                &:not([zen-essential]) {
                    padding: 5px 5px !important;
                    
                    .tab-background{
                        border: 1px solid color-mix(in srgb, var(--zen-primary-color) 0%, transparent) !important;
                    }
                }

                .tab-background {
                    border-radius: var(--Roundness) !important;
                    position: relative !important;
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                    
                    transition: background 0.5s ease, box-shadow 0.2s ease, border 0.3s ease !important;
                }
                
                &:not([zen-essential])[selected] .tab-background,
                &:not([zen-essential])[multiselected="true"] .tab-background{
                    background: var(--tab-background) !important;
                    box-shadow: 0px 0px 5px var(--tab-color) !important;
                    border: 1px solid var(--tab-color) !important;
                }
                
                &:not([zen-essential]):hover .tab-background{
                    background: var(--tab-hover-background) !important;
                    box-shadow: 0px 0px 5px var(--tab-hover-color) !important;
                    border: 1px solid var(--tab-hover-color) !important;
                }
            }
        }
    }
}