/* Neo Zen 1.20.0T-neo.0*/

/* Hi, I'm Neo Zen, I'm a theme that has new "features", animations, and a new design, I hope you like it, and I hope you find it useful. */

/* Please considering that Zen browser is still in development, after an update please check if the issue you are experencing is due to a native browser issue. 
   If it is due to a native browser issue please report it to the developer of Zen browser.
   If the issue only appears when using Neo Zen please report it to the developer of Neo Zen.*/

/* Starting from version 3.0.0 the Nebula animations are no longer included in Neo Zen.*/

/* Starting from version 2.0, the nebula pseudobackground implementation for compact mode has been replaced 
   with a new version that no longer uses the Nebula base. This change affects the CSS structure of Neo Zen 
   across multiple modes.

   If you’re not a fan of the new design, you can disable it via Zen’s advanced options in about:config check the wiki to learn more.

   However, keeping it enabled is recommended, as the new Neo-Sidebar and Neo Toolbar features resolve native browser issues. */

/* Otherwise, I don't know what I'm doing too :D so please tell me if I did something wrong, if you have any suggestions to improve the theme, please let me know,
  I'm always open to suggestions and feedback. */

/* Neo Zen 1.20.0T-neo.0*/

@import "Layout/Layout.css";
@import "Rules/Rules.css";
@import "Theme/Features/Neo-Features.css";
@import "Theme/Style/Style.css";
@import "Variables/Variables.css";

/* Required for blur rendering */
browser {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Please do not remove this, it is required for the proper functioning of the theme */
:root{
  --tab-collapsed-background-width: 42px !important;
}

@media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
  :root {
    --tab-min-height: 40px !important;
  }
}